{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static "learning_logs/footer.css" %}">
    </head>

    <body style="background-color: orange; width: 95%; margin:110px" class="container" >
      <div class="container-sp" style="height:2300px; width:100%">
        {% block header %} {% endblock header %}
      </div>
      <div>
        {% block content %} {% endblock content %}
      </div>
      <div class="holder"></div>
    </body>
</html>